.nav_tabs{
    width: 600px;
    height: 450px;
    
    background-color: #3f3f3e;
    position: relative;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
}

.tab_label{
    display: block;
    width: 100%;
    background-color:rgb(61, 108, 146);
    padding: 12px;
    border-radius: 0px 10px 0px 0px;
    margin-right: 10px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    text-align: center;
}

.nav_tabs .rd_tab { 
    display:none;
    position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
    background-color: rgb(79, 144, 197);
    color:#fff;
}

.tab-content{
    border-top: solid 5px rgb(79, 144, 197);
    border-bottom: solid 5px rgb(79, 144, 197);
    background-color: #fff;
    display: none;
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0;	
}

.rd_tab:checked ~ .tab-content{
    display: block;
}

.tab-content h1{
    padding: 10px;
    color: #87d3b7;
}

.tab-content h2{
    padding: 10px;
    color: #87d3b7;
}
.tab-content article{
    padding: 10px;
    color: #555;
}